In [28]:
import pandas as pd

df = pd.read_csv("half_marathon.csv")
df.head()

            Jmeno  Rocnik       Cas  Rok zavodu
0  Aster Vladimír    1965  01:53:25        2019
1  Aster Vladimír    1965  02:00:19        2020
2   Asterová Jana    1974  02:16:59        2019
3   Asterová Jana    1974  02:30:01        2020
4   Baborová Anna    1990  01:58:20        2019

In [29]:
df["Cas"] = pd.to_datetime(df["Cas"])
df["Cas 2019"] = df["Cas"].shift(1)
df = df[df["Rok zavodu"] == 2020]
df["Zmena"] = df["Cas"] - df["Cas 2019"]
df

/var/folders/gt/hp_y969x7hgchgtzlj0y7nhc0000gn/T/ipykernel_32092/2940584552.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df["Cas"] = pd.to_datetime(df["Cas"])

,Jmeno,Rocnik,Cas,Rok zavodu,Cas 2019,Zmena
1,Aster Vladimír,1965,2024-03-05 02:00:19,2020,2024-03-05 01:53:25,0 days 00:06:54
3,Asterová Jana,1974,2024-03-05 02:30:01,2020,2024-03-05 02:16:59,0 days 00:13:02
5,Baborová Anna,1990,2024-03-05 01:52:25,2020,2024-03-05 01:58:20,-1 days +23:54:05
7,Bambas Jan,1975,2024-03-05 02:35:39,2020,2024-03-05 02:02:59,0 days 00:32:40
9,Barochovská Andrea,1976,2024-03-05 02:50:05,2020,2024-03-05 03:01:25,-1 days +23:48:40
...,...,...,...,...,...,...
180,Šulcová Jitka,1974,2024-03-05 01:59:07,2020,2024-03-05 01:43:12,0 days 00:15:55
182,Švarcová Petra,1974,2024-03-05 02:50:01,2020,2024-03-05 02:27:45,0 days 00:22:16
184,Švelch Rosťa,1966,2024-03-05 01:55:11,2020,2024-03-05 01:54:58,0 days 00:00:13
186,Žitková Jana,1974,2024-03-05 02:42:48,2020,2024-03-05 02:45:54,-1 days +23:56:54
188,Žákovec Pavel,1966,2024-03-05 02:07:37,2020,2024-03-05 02:03:36,0 days 00:04:01

In [30]:
df["Zmena"].mean()

Timedelta('0 days 00:09:36.031578947')