In [2]:
import pandas as pd
import numpy as np

data = pd.read_csv("traffic.csv")
data.head()

bins = [0, 5, 9, 13, 16, 21, 24]
labels = ["noc_1", "ranní špička", "poledne", "odpolední špička", "večer", "noc_2"]
data['HourGroup'] = pd.cut(data["Hour"], bins=bins, labels=labels)
data["HourGroup"] = data["HourGroup"].str.replace("_1", "")
data["HourGroup"] = data["HourGroup"].str.replace("_2", "")
bins = [1, 5, 6]
labels = ["weekday", "weekend"]
data['DayOfWeekGroup'] = pd.cut(data["DayOfWeek"], bins=bins, labels=labels)
data.head(15)

,DateTime,Junction,Vehicles,ID,DayOfWeek,Hour,HourGroup,DayOfWeekGroup
0,2015-11-01 00:00:00,1,15,20151101001,6,0,NaN,weekend
1,2015-11-01 01:00:00,1,13,20151101011,6,1,noc,weekend
2,2015-11-01 02:00:00,1,10,20151101021,6,2,noc,weekend
3,2015-11-01 03:00:00,1,7,20151101031,6,3,noc,weekend
4,2015-11-01 04:00:00,1,9,20151101041,6,4,noc,weekend
5,2015-11-01 05:00:00,1,6,20151101051,6,5,noc,weekend
6,2015-11-01 06:00:00,1,9,20151101061,6,6,ranní špička,weekend
7,2015-11-01 07:00:00,1,8,20151101071,6,7,ranní špička,weekend
8,2015-11-01 08:00:00,1,11,20151101081,6,8,ranní špička,weekend
9,2015-11-01 09:00:00,1,12,20151101091,6,9,ranní špička,weekend
10,2015-11-01 10:00:00,1,15,20151101101,6,10,poledne,weekend
11,2015-11-01 11:00:00,1,17,20151101111,6,11,poledne,weekend
12,2015-11-01 12:00:00,1,16,20151101121,6,12,poledne,weekend
13,2015-11-01 13:00:00,1,15,20151101131,6,13,poledne,weekend
14,2015-11-01 14:00:00,1,16,20151101141,6,14,odpolední špička,weekend

In [3]:
data_pivot = pd.pivot_table(data, values="Vehicles", index="HourGroup", columns="DayOfWeekGroup", aggfunc=np.mean, margins=True)
data_pivot

/var/folders/gt/hp_y969x7hgchgtzlj0y7nhc0000gn/T/ipykernel_18762/1744759070.py:1: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  data_pivot = pd.pivot_table(data, values="Vehicles", index="HourGroup", columns="DayOfWeekGroup", aggfunc=np.mean, margins=True)
/var/folders/gt/hp_y969x7hgchgtzlj0y7nhc0000gn/T/ipykernel_18762/1744759070.py:1: FutureWarning: The provided callable <function mean at 0x10a653240> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  data_pivot = pd.pivot_table(data, values="Vehicles", index="HourGroup", columns="DayOfWeekGroup", aggfunc=np.mean, margins=True)
/var/folders/gt/hp_y969x7hgchgtzlj0y7nhc0000gn/T/ipykernel_18762/1744759070.py:1: FutureWarning: The provided callable <function mean at 0x10a653240> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  data_pivot = pd.pivot_table(data, values="Vehicles", index="HourGroup", columns="DayOfWeekGroup", aggfunc=np.mean, margins=True)
/var/folders/gt/hp_y969x7hgchgtzlj0y7nhc0000gn/T/ipykernel_18762/1744759070.py:1: FutureWarning: The provided callable <function mean at 0x10a653240> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  data_pivot = pd.pivot_table(data, values="Vehicles", index="HourGroup", columns="DayOfWeekGroup", aggfunc=np.mean, margins=True)

DayOfWeekGroup      weekday    weekend        All
HourGroup
noc               37.565253  28.850575  35.818302
odpolední špička  53.774256  33.318008  49.673579
poledne           54.049712  34.545977  50.139977
ranní špička      32.414986  23.669540  30.661866
večer             55.102017  40.928736  52.260829
All               45.462975  32.148426  42.793929