In [6]:
import pandas as pd
import numpy as np

data = pd.read_csv("traffic.csv")
data.head()

bins = [0, 5, 9, 13, 16, 21, 24]
labels = ["noc_1", "ranní špička", "poledne", "odpolední špička", "večer", "noc_2"]
data['HourGroup'] = pd.cut(data["Hour"], bins=bins, labels=labels)
data["HourGroup"] = data["HourGroup"].str.replace("_1", "")
data["HourGroup"] = data["HourGroup"].str.replace("_2", "")
bins = [1, 5, 6]
labels = ["weekday", "weekend"]
data['DayOfWeekGroup'] = pd.cut(data["DayOfWeek"], bins=bins, labels=labels)
data.head(15)

,DateTime,Junction,Vehicles,ID,DayOfWeek,Hour,HourGroup,DayOfWeekGroup
0,2015-11-01 00:00:00,1,15,20151101001,6,0,NaN,weekend
1,2015-11-01 01:00:00,1,13,20151101011,6,1,noc,weekend
2,2015-11-01 02:00:00,1,10,20151101021,6,2,noc,weekend
3,2015-11-01 03:00:00,1,7,20151101031,6,3,noc,weekend
4,2015-11-01 04:00:00,1,9,20151101041,6,4,noc,weekend
5,2015-11-01 05:00:00,1,6,20151101051,6,5,noc,weekend
6,2015-11-01 06:00:00,1,9,20151101061,6,6,ranní špička,weekend
7,2015-11-01 07:00:00,1,8,20151101071,6,7,ranní špička,weekend
8,2015-11-01 08:00:00,1,11,20151101081,6,8,ranní špička,weekend
9,2015-11-01 09:00:00,1,12,20151101091,6,9,ranní špička,weekend
10,2015-11-01 10:00:00,1,15,20151101101,6,10,poledne,weekend
11,2015-11-01 11:00:00,1,17,20151101111,6,11,poledne,weekend
12,2015-11-01 12:00:00,1,16,20151101121,6,12,poledne,weekend
13,2015-11-01 13:00:00,1,15,20151101131,6,13,poledne,weekend
14,2015-11-01 14:00:00,1,16,20151101141,6,14,odpolední špička,weekend

In [8]:
data_pivot = pd.pivot_table(data, values="Vehicles", index="Hour", columns="DayOfWeekGroup", aggfunc=np.mean, margins=True)
data_pivot

/var/folders/gt/hp_y969x7hgchgtzlj0y7nhc0000gn/T/ipykernel_91780/1880364008.py:1: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  data_pivot = pd.pivot_table(data, values="Vehicles", index="Hour", columns="DayOfWeekGroup", aggfunc=np.mean, margins=True)
/var/folders/gt/hp_y969x7hgchgtzlj0y7nhc0000gn/T/ipykernel_91780/1880364008.py:1: FutureWarning: The provided callable <function mean at 0x1067d8180> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  data_pivot = pd.pivot_table(data, values="Vehicles", index="Hour", columns="DayOfWeekGroup", aggfunc=np.mean, margins=True)
/var/folders/gt/hp_y969x7hgchgtzlj0y7nhc0000gn/T/ipykernel_91780/1880364008.py:1: FutureWarning: The provided callable <function mean at 0x1067d8180> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  data_pivot = pd.pivot_table(data, values="Vehicles", index="Hour", columns="DayOfWeekGroup", aggfunc=np.mean, margins=True)
/var/folders/gt/hp_y969x7hgchgtzlj0y7nhc0000gn/T/ipykernel_91780/1880364008.py:1: FutureWarning: The provided callable <function mean at 0x1067d8180> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  data_pivot = pd.pivot_table(data, values="Vehicles", index="Hour", columns="DayOfWeekGroup", aggfunc=np.mean, margins=True)

DayOfWeekGroup    weekday    weekend        All
Hour
0               48.951009  35.747126  46.304147
1               42.011527  29.954023  39.594470
2               36.345821  25.367816  34.145161
3               31.129683  22.770115  29.453917
4               26.809798  20.241379  25.493088
5               24.939481  18.827586  23.714286
6               26.706052  19.609195  25.283410
7               30.184438  21.505747  28.444700
8               33.334294  24.298851  31.523041
9               39.435159  29.264368  37.396313
10              50.161383  33.264368  46.774194
11              56.867435  35.126437  52.509217
12              57.827089  35.793103  53.410138
13              51.342939  34.000000  47.866359
14              55.017291  33.298851  50.663594
15              54.383285  33.344828  50.165899
16              51.922190  33.310345  48.191244
17              51.510086  34.804598  48.161290
18              54.971182  39.597701  51.889401
19              58.152738  43.896552  55.294931
20              56.919308  43.712644  54.271889
21              53.956772  42.632184  51.686636
22              52.342939  42.965517  50.463134
23              49.377522  41.827586  47.864055
All             45.608309  32.298372  42.940188