In [5]:
import pandas as pd

data = pd.read_csv("hotel_bookings.csv")

data = data[data['hotel'] == 'City Hotel']
bins = [0, 7, 30, 180, float('inf')]
labels = ['Last-minute', 'Short-term', 'Medium-term', 'Long-term']

data['lead_time_category'] = pd.cut(data['lead_time'], bins=bins, labels=labels)

data_pivot = pd.crosstab(data["lead_time_category"], data["is_canceled"])
data_pivot

is_canceled             0      1
lead_time_category
Last-minute          6653   1046
Short-term           8674   3880
Medium-term         21974  17046
Long-term            6091  10857

In [6]:
data_pivot = pd.crosstab(data["lead_time_category"], data["is_canceled"], normalize="index")
data_pivot

is_canceled                0         1
lead_time_category
Last-minute         0.864138  0.135862
Short-term          0.690935  0.309065
Medium-term         0.563147  0.436853
Long-term           0.359393  0.640607